/* baseColor */
:root{
    --primaryColor: #ad1457;
    --secondaryColor: #880e4f;
   }
   body {
    font-family: sans-serif;
}
   *{
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   /*Animation KeyFrames*/
   @keyframes blob {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; 
    }
      100% {
        border-radius: 40% 60%; 
    }
    }
    @keyframes spin {
        to {
        transform: rotate(1turn); 
        } 
    }

   /* ----------------------NAvbar----------------------------- */
#header {
    background: #ad1457;
}

#header .header-container {
    width: 100%;
    position: relative;
    color: #FFF;
}

#header .h-brand {width: 70%;padding: 40px;}

#header .h-social {
    width: 30%;
    padding: 40px;
}

.sosmed-wrap {
    display: flex;
    flex-wrap: wrap;
}

.sosmed-wrap .sosmed-item {
    padding: 0 10px;
}
.sosmed-wrap .sosmed-item a {
    text-decoration: none;
    color: #FFF;
}

/*navbar*/
.menu-container {
    position: relative;
    width: 100%;
}

.navbar .nav-wrap {
    display: inline-block;
    width: 100%;
}

.navbar .nav-wrap .nav-item a {
    line-height: 60px;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.navbar {
    max-width: 1140px;
    margin: auto;
}
.nav-item {
    color: white;
    list-style: none;
    float:left;
}
.fixed {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: var(--primaryColor);
    z-index: 9;
}

.nav-slides {width: 70%;}

.brand-active {
    width: 15%;
    padding: 14px;
}
.brand-active a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}


/*slide Animation*/
.logo-in-menu {
    transform: translateX(0);
    transition: all 0.35s;    
}
.nav-in-menu {
    transition: all 0.35s;
    transform: translateX(0);   
}
.logo-out-menu {
    transform: translateX(-100%);
    transition: all 0.35s;
}
.nav-out-menu {
    transition: all 0.35s;
    transform: translateX(-20%);
}
/* -------------------------------content ----------------------------- */
   .main-container{
       padding-top: 40px;
       width: 100%;
       max-width: 1140px;
       margin: auto;
   }
   .post-container{
       padding: 23px;
       border:1px solid #ececec;
   }
   .main-content .title{
       padding : 23px;
   }
   .main-content .title .index{
       float: right;
       font-size: 20px;
   }
   .main-content .title .index a{
       text-decoration: none;
       display: flex;
       color: #28c985;
       padding: 3px 8px;
       border-radius: 2px;
       font-weight: 400;
       border: 1px solid #28c985;
   }
   .row {
       display: flex;
       flex-wrap: wrap;
   }
   .content {
       width: 100%;
   }
   .content  .content-left {
       border-right: 1px solid #ececec;
       width: 50%;
       padding: 23px;
   }
   
   .content .content-left  .thumb  .thumb-img  img{
       object-fit: cover;
       border-radius: 7px;
       width: 100%;
       height: 300px;
   }
   .content .content-left  .thumb .thumb-title .item-title{
       font-size: 25px;
   }
   .content .content-left  .thumb .thumb-title .item-date .date{
       padding-left: 5px;
   }
   .content .content-left  .thumb  .thumb-title {
       padding: 10px 0px;
   }
   
   .content .content-left  .thumb .thumb-title .item-date {
       padding-top: 10px;
   }
   
   /* ----------------------Content Right------------------ */
   .content .content-right {
       width: 50%;
       padding: 23px;
   }
   
   .content-item {
       width: 100%;
   }
   
   .content-item .item-img img {
       width: 60px;
       height: 60px;
       border-radius: 7px;
       object-fit: cover;
   }
   .content-right .right-item .item-post .post-content {
       padding-left: 23px;
   }
   
   .content-right .right-item {
       padding: 10px 0px;
       border-bottom: 1px solid #ececec;
   }
   .content-right .right-item:nth-child(4) {
       border-bottom: none;
   }
   .content-right .right-item .item-post .post-content .item-content .item-title a {
       font-size: 23px;
       color: black;
       text-decoration: none;
   }
   
   .content-right .right-item .item-post .post-content .item-content .item-date .date {
       padding-left: 5px;
   }
   .content-right .right-item .item-post .post-content .item-content .item-date {
       padding-top: 15px;
   }
   
   .latest-post .content-post .post-card{
       transition: ease-out 0.5s;
       padding: 23px;
       width: 25%;
   }
   .latest-post .content-post .post-card .post-img img {
       object-position: 43% 0;
       width: 100%;
       height: 400px;
       object-fit: cover;
   }
   
   .post-title h1 {
       color: white;
       text-transform: uppercase;
       position: absolute;
       text-align: center;
       font-family: sans-serif;
       font-weight: bold;
       bottom: 40%;
       right: 10%;
   }
   
   .post-title {
       background: linear-gradient(to bottom,transparent, var(--primaryColor) 100%);
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       opacity: 0;
       transition: ease 0.35s;
   }
   
   .post-card:hover .post-title {
       transition: ease 0.3s;
       opacity: 1;
   }
   
   
   /* -------------------------------------------------footer--------------------------------*/
   .footer {
       color: white;
       margin-top: 20px;
       background-color: var(--primaryColor);
   }
   .footer-container {
       margin: auto;
       max-width: 1140px;
       width: 100%;
   }
   
   .newslatter {
       text-align: center;
       /* padding-top: 40px; */
   }
   
   .desc {
       padding: 23px 0px;
   }
   
   .content-footer {
       padding: 23px 0px;
   }
   
   
   .copyright-container {
       width: 100%;
       max-width: 1140px;
       margin: auto;
   }
   
   .content-copyright {
       text-align: center;
       padding: 15px 0;
   }
   
   .copyright {
       background-color: var(--secondaryColor);
   }
   .copy {
       padding: 15px 0;
   }
   
   #footer a {
       text-decoration: none;
   }
   
   .btn {
       display: inline-block;
       padding: 14px;
       border-radius: 3px;
       font-weight: bold;
       box-shadow: 0px 2px 3px 0.5px rgba(0,0,0,0.1);
   }
   
   .btn-primary {
       background: #FFC107;
       color: #fff;
       width: 15%;
   }

.copy a {
    color: white;
}
   
   
   
   

/* -------------------------------content ----------------------------- */
   .main-container{
       padding-top: 40px;
       width: 100%;
       max-width: 1140px;
       margin: auto;
   }
   .post-container{
       padding: 23px;
       border:1px solid #ececec;
   }
   .main-content .title{
       padding : 23px;
   }
   .main-content .title .index{
       float: right;
       font-size: 20px;
   }
   .main-content .title .index a{
       text-decoration: none;
       display: flex;
       color: #28c985;
       padding: 3px 8px;
       border-radius: 2px;
       font-weight: 400;
       border: 1px solid #28c985;
   }
   .row {
       display: flex;
       flex-wrap: wrap;
   }
   .content {
       width: 100%;
   }
   .content  .content-left {
       border-right: 1px solid #ececec;
       width: 50%;
       padding: 23px;
   }
   
   .content .content-left  .thumb  .thumb-img  img{
       object-fit: cover;
       border-radius: 7px;
       width: 100%;
       height: 300px;
   }
   .content .content-left  .thumb .thumb-title .item-title{
       font-size: 25px;
   }
   .content .content-left  .thumb .thumb-title .item-date .date{
       padding-left: 5px;
   }
   .content .content-left  .thumb  .thumb-title {
       padding: 10px 0px;
   }
   
   .content .content-left  .thumb .thumb-title .item-date {
       padding-top: 10px;
   }
   
   /* ----------------------Content Right------------------ */
   .content .content-right {
       width: 50%;
       padding: 23px;
   }
   
   .content-item {
       width: 100%;
   }
   
   .content-item .item-img img {
       width: 60px;
       height: 60px;
       border-radius: 7px;
       object-fit: cover;
   }
   .content-right .right-item .item-post .post-content {
       padding-left: 23px;
   }
   
   .content-right .right-item {
       padding: 10px 0px;
       border-bottom: 1px solid #ececec;
   }
   .content-right .right-item:nth-child(4) {
       border-bottom: none;
   }
   .content-right .right-item .item-post .post-content .item-content .item-title a {
       font-size: 23px;
       color: black;
       text-decoration: none;
   }
   
   .content-right .right-item .item-post .post-content .item-content .item-date .date {
       padding-left: 5px;
   }
   .content-right .right-item .item-post .post-content .item-content .item-date {
       padding-top: 15px;
   }
   
   .latest-post .content-post .post-card{
       transition: ease-out 0.5s;
       padding: 23px;
       width: 25%;
   }
   .latest-post .content-post .post-card .post-img img {
       object-position: 43% 0;
       width: 100%;
       height: 400px;
       object-fit: cover;
   }
   
   .post-title h1 {
       color: white;
       text-transform: uppercase;
       position: absolute;
       text-align: center;
       font-family: sans-serif;
       font-weight: bold;
       bottom: 40%;
       right: 10%;
   }
   
   .post-title {
       background: linear-gradient(to bottom,transparent, var(--primaryColor) 100%);
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       opacity: 0;
       transition: ease 0.35s;
   }
   
   .post-card:hover .post-title {
       transition: ease 0.3s;
       opacity: 1;
   }
   
   
   /* -------------------------------------------------footer--------------------------------*/
   .footer {
       color: white;
       margin-top: 20px;
       background-color: var(--primaryColor);
   }
   .footer-container {
       margin: auto;
       max-width: 1140px;
       width: 100%;
   }
   
   .newslatter {
       text-align: center;
       /* padding-top: 40px; */
   }
   
   .desc {
       padding: 23px 0px;
   }
   
   .content-footer {
       padding: 23px 0px;
   }
   
   
   .copyright-container {
       width: 100%;
       max-width: 1140px;
       margin: auto;
   }
   
   .content-copyright {
       text-align: center;
       padding: 15px 0;
   }
   
   .copyright {
       background-color: var(--secondaryColor);
   }
   .copy {
       padding: 15px 0;
   }
   
   #footer a {
       text-decoration: none;
   }
   
   .btn {
       display: inline-block;
       padding: 14px;
       border-radius: 3px;
       font-weight: bold;
       box-shadow: 0px 2px 3px 0.5px rgba(0,0,0,0.1);
   }
   
   .btn-primary {
       background: #FFC107;
       color: #fff;
       width: 15%;
   }

.copy a {
    color: white;
}
   
/* Single Post */
.main-container {
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

.single_post-wrapper {
    width: 100%;
}

 .single_post-container .single_post-wrapper {
    
    margin: 40px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/* ------------thumbnail-------- */
.img-wrapper {
    width: 50%;
}
.img-wrapper .post-img {
    align-items: center;
    display: flex;
    /* position: relative; */
    align-items: center;
    padding: 15% 23px;
}
.img-wrapper .post-img img {
    /* position: absolute; */
    /* transform: translate(0, -50%); */
    border-radius: 15px;
    width: 100%;
    top: 50%;
}

/* ---------------Content---------- */
.content-wrapper {
    width: 50%;
    padding: 23px;
}
.btn-menu .btn-dots {
    padding: 23px 0px;
}
.btn-menu .btn-upload {
    padding: 23px 0px;
}
.btn-menu .btn-save {
    padding: 10px 0px;
    flex: 1;
}
.btn-menu .btn-save .save {
    font-size: 20px;
    border-radius: 29px;
    font-weight: bold;
    background: red;
    float: right;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
.btn-menu .btn-upload .upload {
    font-size: 20px;
    text-decoration: none;
    padding: 23px;
    color: black;
    font-weight: bold;
}
.btn-menu .btn-dots .dots {
    text-decoration: none;
    padding: 23px 0px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.uploader .secondary-info-uploader .uploader-name {
    padding: 15px;
}

.uploader .uploader-name {
    padding: 15px 0;
}
.uploader .secondary-info-uploader .info-img {
    padding: 15px 0px;
}

.uploader .secondary-info-uploader .info-img img {
    /* padding: 15px; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 0;
}
.uploader .secondary-info-uploader .uploader-name p {
    padding: 15px;
    align-items: center;
}

.uploader .secondary-info-uploader .btn-follow {
    padding: 15px 0px;
    flex: 1;
  }

  .uploader .secondary-info-uploader .btn-follow .follow {
    border-radius: 24px;
    color: #000000;
    padding: 15px;
    text-decoration: none;
    float: right;
    background: #cecbcb80;
}

/* ----------comment------------ */
.comments-wrapper .btn-comments .photos-wrapper .add-photos {
    padding: 23px 0px;
}
.comments-wrapper .btn-comments .photos-wrapper .add-photos .btn-photos{
    transition: 0.2s;
    padding-right: 15px;
}


.comments-wrapper .btn-comments .comment-wrapper .add-comment {
    padding: 23px 0px;
}

.comments-wrapper .comments-content {
    display: flex;
}
.comments-wrapper .comments-content .comment-text {
    padding: 15px 0px;
}


.comments-wrapper .comments-content .btn-upload {
    /* padding: 15px; */
    flex: 1;
    align-items: center;
}

.comments-wrapper .comments-content .btn-upload .upload {
    flex: 1;
    padding: 16px;
    align-items: center;
    float: right;
    background-color: #cecbcb80;
    text-decoration: none;
    color: #000000;
    border-radius: 24px;
}

.comments-wrapper .comments-content .btn-upload .upload a {
    align-items: center;
}
.comments-wrapper .btn-comments .btn {
    color: black;
    transition: 0.2s;
    /* background-color: aliceblue; */
    text-decoration: none;
    padding: 10px 0px;
    box-shadow: unset !important;
}
.comments-wrapper .btn-comments .btn:hover {
    border-bottom: 2px solid black;
    /* transition: 0.2s; */
}
/* ----------History----------- */
.history-wrapper .info-img {
    padding: 15px 0px;
}

.history-wrapper .info-img img {
    /* padding: 15px; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 0;
}

.history-wrapper .uploader-name {
    align-items: center;
    padding: 15px 0px;
    vertical-align: middle;
}
.history-wrapper .uploader-history .history {
    padding: 15px 5px;
}
.history-wrapper .uploader-name p {
    padding: 15px 5px;
}

.history-wrapper .uploader-history {
    padding: 15px 0px;
}
.uploader-history .history .title {
    padding: 0px 5px;
}


   
/*Responsive*/

@media only screen and (max-width: 768px) {
    /*slide Animation*/
    .logo-in-menu {
        transform: unset;
        transition: all 0.35s;    
    }
    .nav-in-menu {
        transition: all 0.35s;
        transform: unset;
    }
    .logo-out-menu {
        transform: unset;
        transition: all 0.35s;
    }
    .nav-out-menu {
        transition: all 0.35s;
        transform: unset;
    }
    #logo-slides {
        display:none
    }
    #menu-slides {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 375px;
        background: var(--primaryColor);
        height: 100%;
        z-index: 999;
        border-left: 5px solid var(--secondaryColor);
        transition: .5s;
        transform: translateX(100%);
    }
    #menu-slides.show {
		transform : translateX(0);
	}
    .nav-item {
        width:100%;
        list-style: none;
    }

    /*Toggle Button Nav*/
    .menu-toggle {
	    position: fixed;
	    height: 50px;
	    width: 50px;
	    top: 14px;
	    right: 85px;
	    background: #880e4f;
	    border-radius: 50px;
	    transition: .5s;
        z-index:999;
        animation: blob 6s linear infinite alternate, spin 20s linear infinite;
    }

	.menu-toggle span {
	    position: absolute;
	    height: 50%;
	    width: 50%;
	    background: #fff;
	    border-radius: 50px;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 999;
	}

	.menu-toggle.show {
	    margin-right: calc(100% - 170px);
	    transform:rotate(45deg);
	}
	.menu-toggle.show span:nth-child(1) {
	    height: 8px;
	    transform: translate(-50%,-50%) rotate(90deg);
	}

	.menu-toggle.show span:nth-child(2) {
	    height: 8px;
	}

	.menu-toggle.show span:nth-child(3) {
	    display: none;
    }
    .img-wrapper{
        width: 100%;
    }
    .img-wrapper .post-img{
        padding: 23px;
    }
    .content-wrapper{
        width: 100%;
    }

}